    /*******************************************************/
    /* ********* Sortir le code dur dans style.css *********/
    /* * Sortir le code dynamique et le mettre dans custom */
    /* *********** Supprimer ce fichier ****************** */
    /*******************************************************/

/*

#logo{
	width: 10%;
	margin: 0 auto;
	display: block;
}
*/

/*
#soinGourmand{
	position:relative;
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 20%;
	/*margin: 5% 0% 0% -5%;*/
/*}*/

/*.tableauGourmand{
	width: 31%;
	height: 20%;
	float: left;
	padding-top: 4%;
}
.containerTableau ul{
	width: 100%;
	height: 100%;
}
.imagePrinc{
	width: 100%;
}
.tableauGourmand .imagePrinc{
	padding-bottom: 1%;
}
.imageG, .imageD{
	width: 49%;
	float: left;
}
.imageG{
	padding-right: 1%;
}
.imageD{
	padding-left: 1%;
}
.containerTableau img {
	position:relative;
	width: 100%;
	top:0;
	left:0;
	-webkit-transition: opacity 1.1s ease;
	transition: opacity 1.1s ease;
}
.containerTableau .image2 {
	opacity:0;
}
.containerTableau:hover .image2, .containerTableau:focus .image2 {
	opacity:1;
}
.containerTableau p{
	margin: 3% 0% 0% -2%;
}
.containerTableau .image1{
}
.containerTableau .image1:hover, .containerTableau .image1:focus{
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
	width: 102%;
}*/




/*.flexsilder ul{
	width: 100%;
}*/
/*.flexslider img{
	width: 100% !important;
	height: 20% !important;
}*/







/********************* PAGES  *********************************/
/***************************************************************/


/*header ul li+li{*/
	/*border-left: 1px solid #262125;*/
/*}*/


/*.activeMenu a{
	color: #e31051 !important;
}
*/


/*.titrePage{
	position: relative;
	color: #b79262;
	font-size: 30px;
	font-variant: small-caps;
	padding-top: 35px;
	
}
.petitTitrePage{
	position: relative;
	font-size: 3vh;
	padding-top: 4%;
}
.paragraphePage{
	position: relative;
	padding: 4%;
	font-family:  'Open Sans', sans-serif;
	font-size: 2vh;
}
*/
/*.activeLivreOr{
	color: #ee7a91 !important;
	background-color: #FEFAD8 !important;
}*/









/*
.texteCache{
	display: none;
}
*/

/****** Soins Sothys  *****/
/*#soinVisage{
	display: inline-block;
	float: left;
}
#soinCorps{
	display: inline-block;
	float: right;
}
*/
/*.listeSoins li{
	width: 26%;
	height: 50%;
	position: relative;
	display: inline-block;
	float: left;
	padding: 3%;
}
.listeSoins img{
	width: 100%;
	border-radius: 10px;
}*/

/******************************************************** Soins Visage  *****/
/*.listeSoins img{
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
}
.listeSoins img:hover, .listeSoins img:focus{
	width: 102%;
	}
.liensPageSoin{
	width: 49%;
	margin: 0 auto;
	position: relative;
	padding: 11% 0% 10%;
	text-align: center;
	display: inline-block;
}*/

/********************************************************** Soins Corps  *****/
/*.soinCorps li:nth-child(even){
	width: 40%;
	padding-bottom: 15%;
}
.soinCorps iframe{
	margin-top: 7%;
	border-radius: 10px;
}*/

/****************************************************************** UV  *****/
/*
#UvSaisons div{
	width: 39% !important;
}
.containerL, .containerD{
	width: 45%;
	/*height: 20%;*/
	/*position: relative;*/
	/*background-color: #F7E1D9;*/
	/*padding: 1%;*/
	/*margin:1% 0%;*/
	/*border-radius: 10px;*/
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	/*background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */*/
	/*background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */*/
	/*background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/
	/*background-repeat: no-repeat;*/
	/*background-position: 50% 50%;*/
	/*background-size: 200% 200%;*/
	/*font-size: 2vh;*/
}
/*.containerL{
	float: left;
}
.containerD{
	float: right;
}
.containerL h4, .containerD h4{
	color: #ec4869;
}

/******************************************************** CelluM6  *****/
/*.paragraphe{
	width: 75%;
	position: relative;
	margin: 0 auto;
}
.lienPageTarif{
	width: 35%;
	margin: 0 auto;
	position: relative;
	padding: 10% 0% 10%;
	text-align: center;
}
.listeCelluM6{
	width:80%;
	margin:0 auto;
	border-radius: 10px;

/*	background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
/*	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/
/*	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 200% 200%;*/
/*}*/
/*.listeCelluM6 li{
	padding: 2%;
}*/
/*.paragraphe .petitTitrePage{
	padding-top: 8%;
}*/


/********************************************************** Autres  *****/
/*.tableauMaquillage{
	width: 50%;
	height: 75%;
	/*padding-top: 5%;*/
	/*float: left;*/
/*}*/
/*.tableauMaquillage .imagePrinc{
	height: 257px;
}*/
/*#maquillageVideo{
	/*width: 40%;*/
/*	position: relative;
	float: right;
	padding-top: 10%;
}
.liensPageTarifs{
	width: 42%;
	/*margin: 0 60%;*/
/*	float: right;
	position: relative;
	padding: 5% 0% 10%;
	text-align: center;
	/*display: inline-block;*/
/*}
.floatL{
	width: 35%;
	float: left;
	padding-left: 10%; 
	padding-top: 4%;
}
.floatD{
	width: 35%;
	float: left;
	padding-left: 10%; 
	padding-top: 4%;
}*/

/*********************************************************************** Homme  *****/

/********************************************************************** Tarif *****/



/************************************************************************* Livre d'Or  *****/






/*@media screen and (max-width: 740px) {
}*/
