/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Open+Sans:300'); 
*{ 
  margin:0;
  padding:0;

}*/

@font-face {
	/*test 1*/
 	font-family: "script-mt-bold";
	src: url("fonts/SCRIPTBL.TTF");

	/*test 2*/
/*	font-family: "brush-script-mt-bold";
	src: url("fonts/BRUSHSCI.TTF");*/
}

/*html,body{
  font-family: "script-mt-bold", serif;
  /*font-family: "brush-script-mt-bold", serif;*/
/*  width: 100%;
  height:100%;
  background-color: #FFFFFF;
  font-size: 2.2vh;
  color: #0F5300;
}*/

h1{
	/*font-variant: small-caps;*/
	/*padding: 2% 0%;*/
	font-size: 6vh;
	font-weight: 200;
	/*color: #f9a18e;*/
	/*text-shadow: 4px -2px 4px #aaa;*/
}

h2{
	/*color: #fccfc0;*/
	font-size: 4vh;
	/*text-transform: uppercase;*/
	/*font-variant: small-caps;*/
	padding-top: 2.6%;
}

h3{
	font-size: 3vh;
	/*font-variant: small-caps;*/
}

h4{
	font-size: 2.5vh;
}

p{

}

li{
	list-style-type: none;
}

strong{
	font-weight: normal;
}

a{
	color: #262125;
	text-decoration: none;
}

a:hover{
	color: #e31051;
}

a:focus{
	color: #e31051;
}

.clear{
	clear: both;
}
.parallaxParent {
	height: 100vh;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}


.spacer {
	text-align: center;
	min-height: 100px;
	/*height: 5%;*/
	background-color: #FFFFFF;
	background-image: url("../img/example_bg_spacer_v.gif");
}
.spacer.s0 {
	min-height: 1px;
}



#ecran1{
	/*background-image: url(../img/bgAccueil.jpg);*/
	background-color: #FFFFFF;
	background-size: 100% 70%;	
	background-repeat: no-repeat;
	text-align: center;
}
#ecran2{
	background-color: #F3FAF2;
}

#ecran3{
	background-color: #E8F5E5;
}

#ecran4{
	background-color: #DCEED8;
}


#containerAccueil{
	width: 60%;
	margin: 0 auto;
	padding-top: 10%;
}

#containerAccueil li a{
	color: #262125;
	text-decoration: none;
}
#containerAccueil li a:hover, #containerAccueil li a:focus{
	color: #e31051;
}

#containerHead{
	display: inline;
}

#containerAdresse{
	
}

#logo{
	width: 10%;
	margin: 0 auto;
	display: block;
}
#logoHome{
	margin: 0 auto;
	width: 10%;
}
#navPC{
	padding: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	/* FF3.6-15 */
	/*background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); */
	background: -moz-radial-gradient(center, ellipse cover, rgba(234,246,231,1) 0%, rgba(192,244,181,0.28) 42%, rgba(212,245,205,0) 58%, rgba(255,255,255,0) 100%); 
	/* Chrome10-25,Safari5.1-6 */
	/*background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(234,246,231,1) 0%, rgba(192,244,181,0.28) 42%, rgba(212,245,205,0) 58%, rgba(255,255,255,0) 100%); 
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); */
	background: radial-gradient(ellipse at center, rgba(234,246,231,1) 0%, rgba(192,244,181,0.28) 42%, rgba(212,245,205,0) 58%, rgba(255,255,255,0) 100%); 
	/* IE6-9 fallback on horizontal gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 124% 80%;
}
#containerAccueil ul :nth-child(8){
	border: none;
}
#navPC li{
	display: inline-block;
	/*border-right: 1px solid #262125;*/
	padding: 0% 1%;
	/*font-variant: small-caps;*/
	font-size: 2vh;
}


#soinGourmand{
	position:relative;
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 20%;
	/*margin: 5% 0% 0% -5%;*/
}

.tableauGourmand{
	width: 31%;
	height: 20%;
	float: left;
	padding-top: 4%;
}
.containerTableau ul{
	width: 100%;
	height: 100%;
}
.imagePrinc{
	width: 100%;
}
.tableauGourmand .imagePrinc{
	padding-bottom: 1%;
}
.imageG, .imageD{
	width: 49%;
	float: left;
}
.imageG{
	padding-right: 1%;
}
.imageD{
	padding-left: 1%;
}
.containerTableau img {
	position:relative;
	width: 100%;
	top:0;
	left:0;
	-webkit-transition: opacity 1.1s ease;
	transition: opacity 1.1s ease;
}
.containerTableau .image2 {
	opacity:0;
}
.containerTableau:hover .image2, .containerTableau:focus .image2 {
	opacity:1;
}
.containerTableau p{
	margin: 3% 0% 0% -2%;
}
.containerTableau .image1{
}
.containerTableau .image1:hover, .containerTableau .image1:focus{
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
	width: 102%;
}




.flexslider{
	width: 70%;
	float: left;
	/*margin-left: 10% !important;*/

}
/*.flexsilder ul{
	width: 100%;
}*/
.flexslider img{
	width: 100% !important;
	height: 20% !important;
}


#containerSoins{
	width: 60%;
	/*height: 500px;*/
	margin: 0 auto;
	padding-top: 17%;
	text-align: center;
}
#containerSoins div{
	margin: 5% 2% 0% 2%;
}

#containerSection{
	width: 60%;
	/*height: 500px;*/
	margin: 0 auto;
	padding-top: 17%;
	text-align: center;
}
#containerSection div{
	margin: 5% 2% 0% 2%;
	display: inline-block;
}


/*#soinsVisage, #soinsCorps, #soinsAutre{
	width: 20%;
	height: 20%;
	display: inline-block;
	background-color: #fffcd6;
}
*/

#containerScreen3{
	width: 60%;
	height: 50%;
	margin: 0 auto;
	padding-top: 15%;
	text-align: center;
}
#containerScreen3 div{
	display: inline-block;
	width: 22%;
	height: 31%;
	margin: 4%;
}
/*
#autre, #soins, #uv, #tarif, #maquillage, #minceur{
	width: 22%;
	height: 31%;
	margin: 4%;
}
*/
#containerScreen3 img{
	width: 100%;
}
#containerScreen3 h4{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align:center;
	/*top: 50%;*/
	/*vertical-align: middle;*/
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease;
	transition: opacity 0.7s ease;
}

#containerScreen3:hover > h4{
	opacity: 1;
}

#containerScreen3:hover > .containerScreen3Nom{
	opacity: 1;
}

.containerScreen3Nom:hover > h4{
	opacity: 1;
}

#autre:hover > h4{
	opacity: 1;
}
#soins:hover >  h4{
	opacity: 1;
}
#uv:hover > h4{
	opacity: 1;
}
#tarif:hover > h4{
	opacity: 1;
}
#maquillage:hover > h4{
	opacity: 1;
}
#minceur:hover > h4{
	opacity: 1;
}


#containerContact{
	width: 60%;
	/*height: 42%;*/
	margin: 0 auto;
	padding-top: 60%;
	text-align: center;
	font-size: 2vh;
}
#containerContact h4{
	font-size: 3vh;
	color: #262024;
	padding-bottom: 2%;
}
#contactMap{
	width: 60%;
	float: left;
}
#contactMap iframe{
	float: left;
	/*width: 52%; */
	/*height: 22%; */
	border: 5px solid #0F5300;
	border-radius: 10px;
}
#contactMap p{
	width: 43%;
	text-align: left;
	margin-top: 11%;
	float: right;
}
#livreOr{
	width: 40%;
	float: right;
}
#livreOr li{
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	padding: 5% 0%;
	border-radius: 10px;
	list-style-type: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 200% 200%;
}
#livreOr p {
	padding: 2% 5% 5% 5%;
}

#menuBas{
	margin-top: 15%;
}
#menuBas li{
	display: inline-block;
	padding: 0% 1%;
}

#menuBas li a{
	color: #262125;
	text-decoration: none;
}
#menuBas li a:hover, #menuBas li a:focus{
	color: #e31051;
}

.btn-navbar {
    display: none;
}
#navMobile{
	display: none;
}




/********************* PAGES  *********************************/
/***************************************************************/

header{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
header li{
	display: inline-block;
	padding-left: 5px;
	/*font-variant: small-caps;*/
}
header ul li+li{
	/*border-left: 1px solid #262125;*/
}
header li a{
	color: #262125;
	text-decoration: none;
}
header li a:hover, header li a:focus{
	color: #e31051;
}
#logoPage{
	width: 10%;
	/*padding: 2% 0%;*/
}
.activeMenu a{
	color: #e31051 !important;
}
.boutonOr a{
	padding: 3%;
	border: 1px solid #fefad8;
	border-radius: 10px;
	background-color: #b79262;
	-webkit-box-shadow: 0px 0px 0px 3px #b79262;
    -moz-box-shadow: 0px 0px 0px 3px #b79262;
    box-shadow: 0px 0px 0px 3px #b79262;
    transition-property:background-color, box-shadow;
	transition-duration: 0.5s, 0.5s;
}
.boutonOr a:hover, .boutonOr a:focus{
	background-color: #FFAA91;
    -webkit-box-shadow: 0px 0px 0px 3px #FFAA91;
    -moz-box-shadow: 0px 0px 0px 3px #FFAA91;
    box-shadow: 0px 0px 0px 3px #FFAA91;
}
caption{
	color: #b79262;
	font-size: 3vh;
	/*font-variant: small-caps;*/
	padding: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 85% 100%;
}
caption a{
	color: #b79262 !important;
}
caption a:hover, caption a:focus{
	color: #FE6D52 !important;
}



main{
	width: 1000px;
	min-height: 70%;
	margin: 0 auto;
}
.titrePage{
	position: relative;
	color: #b79262;
	font-size: 30px;
	font-variant: small-caps;
	padding-top: 35px;
	
}
.petitTitrePage{
	position: relative;
	font-size: 3vh;
	padding-top: 4%;
}
.paragraphePage{
	position: relative;
	padding: 4%;
	font-family:  'Open Sans', sans-serif;
	font-size: 2vh;
}
.pagination li{
	display: inline-block;
/*	padding: 10px;
	border-radius: 10px;
	background-color: #e31051;
	color: #fccfc0;
	text-decoration: none;*/
}
.pagination a{
	/*display: inline-block;*/
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #ED7A91;
	color: #fccfc0;
	text-decoration: none;
}
.pagination a:hover, .pagination a:focus{
	background-color: #fefad8;
}
.activeLivreOr{
	color: #ee7a91 !important;
	background-color: #FEFAD8 !important;
}

#logoBG{
	position: fixed;
	display: block;
	margin: 0 auto;
	margin-top: -95px;
	margin-left: 250px;
	z-index: 0;
}

.container {
position:relative;
width:380px;
height:350px;
}
.container img {
position:absolute;
top:0;
left:0;
-webkit-transition: opacity 1s ease;
transition: opacity 1s ease;
}
.container:hover .image1, .container:focus .image1{
	opacity:0;
}




footer{
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	/*margin-top: 10%;*/
	/*padding-bottom: 2%;*/
	color: #000;
	/*background-color: #977d5a;*/
	z-index: 1;
}

.containFooter{
	width: 1000px;
	margin: 0 auto;
	position: relative;

}
.infoFooter{
	width: 45%;
	float: left;
	padding-bottom: 1%;
}
.infoFooter p, .infoFooter h5{
	display: inline-block;

}
.CG{
	width: 45%;
	float: right;
	padding-bottom: 1%;
}



form label {
	display: inline-block;
	width: 25%;
	padding: 5px;
}


.texteCache{
	display: none;
}


/****** Soins Sothys  *****/
#soinVisage{
	display: inline-block;
	float: left;
}
#soinCorps{
	display: inline-block;
	float: right;
}
#soinVisage h3, #soinCorps h3{
	position: absolute;
	margin-top: 80%;
	z-index: 1;
	color: #0F5300;
	transition-property: margin-top, color, font-size, margin-left;
	transition-duration: 1s, 1s, 1s, 1s;
}
#soinVisage h3{
	margin-left: 60%; 
}
#soinCorps h3{
	margin-left: 60%;
}
#soinCorps:hover h3{
	margin-left: 35%;
}
.container:hover h3, .container:focus h3{
	color: #FFFFFF !important;
	font-size: 3.5vh;
	margin-top: 45% !important;
	margin-left: 30% !important;

}
.listeSoins li{
	width: 26%;
	height: 50%;
	position: relative;
	display: inline-block;
	float: left;
	padding: 3%;
}
.listeSoins img{
	width: 100%;
	border-radius: 10px;
}

/******************************************************** Soins Visage  *****/
.listeSoins img{
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
}
.listeSoins img:hover, .listeSoins img:focus{
	width: 102%;
	}
.liensPageSoin{
	width: 49%;
	margin: 0 auto;
	position: relative;
	padding: 11% 0% 10%;
	text-align: center;
	display: inline-block;
}

/********************************************************** Soins Corps  *****/
.soinCorps li:nth-child(even){
	width: 40%;
	padding-bottom: 15%;
}
.soinCorps iframe{
	margin-top: 7%;
	border-radius: 10px;
}

/****************************************************************** UV  *****/

#UvSaisons div{
	width: 39% !important;
}
.containerL, .containerD{
	width: 45%;
	/*height: 20%;*/
	position: relative;
	/*background-color: #F7E1D9;*/
	padding: 1%;
	margin:1% 0%;
	border-radius: 10px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 200% 200%;
	font-size: 2vh;
}
.containerL{
	float: left;
}
.containerD{
	float: right;
}
.containerL h4, .containerD h4{
	color: #ec4869;
}

/******************************************************** CelluM6  *****/
.paragraphe{
	width: 75%;
	position: relative;
	margin: 0 auto;
}
.lienPageTarif{
	width: 35%;
	margin: 0 auto;
	position: relative;
	padding: 10% 0% 10%;
	text-align: center;
}
.listeCelluM6{
	width:80%;
	margin:0 auto;
	border-radius: 10px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 200% 200%;
}
.listeCelluM6 li{
	padding: 2%;
}
.paragraphe .petitTitrePage{
	padding-top: 8%;
}


/********************************************************** Autres  *****/
.tableauMaquillage{
	width: 50%;
	height: 75%;
	/*padding-top: 5%;*/
	float: left;
}
/*.tableauMaquillage .imagePrinc{
	height: 257px;
}*/
#maquillageVideo{
	/*width: 40%;*/
	position: relative;
	float: right;
	padding-top: 10%;
}
.liensPageTarifs{
	width: 42%;
	/*margin: 0 60%;*/
	float: right;
	position: relative;
	padding: 5% 0% 10%;
	text-align: center;
	/*display: inline-block;*/
}
.floatL{
	width: 35%;
	float: left;
	padding-left: 10%; 
	padding-top: 4%;
}
.floatD{
	width: 35%;
	float: left;
	padding-left: 10%; 
	padding-top: 4%;
}

/*********************************************************************** Homme  *****/

/********************************************************************** Tarif *****/
.listeTarifs{
	position: relative;
	margin-top: 5%;
	 background: white;
  border-radius:3px;
  border-collapse: collapse;
  /*height: 320px;*/
  /*max-width: 600px;*/
  padding:5px;
  width: 100%;
	text-align:center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.listeTarifs th {
  color:#fccfc0;
  background:#262024;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.listeTarifs th:first-child {
  border-top-left-radius:3px;
}
 
.listeTarifs th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.listeTarifs tr {
/*  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;*/
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
 
.listeTarifs tr:first-child {
  border-top:none;
}

.listeTarifs tr:last-child {
  border-bottom:none;
}
 
.listeTarifs tr:nth-child(odd) td {
  background:#FFFDED;
}
 

.listeTarifs tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.listeTarifs tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.listeTarifs td {
  background:#fff0e1;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  /*border-right: 1px solid #C1C3D1;*/
}

.listeTarifs td:last-child {
  border-right: 0px;
}


/*.listeTarifs th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}
.listeTarifs tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.listeTarifs td:nth-child(even){
	background-color: #FCE0D6;
}

.listeTarifs td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
*/
table a:link{
	color : #333333;
}
table a:visited{
	color : #333333;
}
table a:hover, table a:focus{
	color : #FF472B;
}



/*Tableau*/
/*table,th, td{
border: 1px solid gray;
}*/

/*th, td{
height: 15px;
width: 15%;
padding:6px;
vertical-align:middle;
}

th{
background-color: #FDFCFC;
}*/

/****** Contact  *****/
#contactPage{
	position: relative;
}
#contactPage h4{
	padding: 2%;
}
#contactPage iframe{
	float: left;
	border: 5px solid #0F5300;
	border-radius: 10px;
}
#contactPage p{
	width: 45%;
	float: right;
	margin-top: 8%;
	color: black;
	font-size: 4vh;
}
.lienLivreOrContact{
	width: 30%;
	margin: 0 auto;
	position: relative;
	padding: 5% 0% 10%;
	text-align: center;
}

/************************************************************************* Livre d'Or  *****/

#livreOrPage{
	width: 800px;
	margin: 0 auto;
}
#livreOrPage li{
	width: 90%;
	background-color: #fefad8;
	border: 1px solid #b79262;
    -webkit-box-shadow: 0px 0px 0px 7px #fefad8;
    -moz-box-shadow: 0px 0px 0px 7px #fefad8;
    box-shadow: 0px 0px 0px 7px #fefad8;
	/*height: 10%;*/
/*	background-image: url("../img/bgLivreOr.jpg");
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: contain;*/
	border-radius: 7px;
	padding: 1%;
	margin-top: 30px;
}

#livreOrPage p {
	padding: 10px;
}





/********************* FORM *******************************/

.formStyle{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
}
.formStyle label{
    display:inline-block;
    margin-bottom: 10px;
}
.formStyle label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.formStyle fieldset{
	    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #F3D6AA;
    padding: 20px;
    background: #FFC6B7;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.formStyle textarea{
    width:250px;
    height:100px;
}
.formStyle input[type=text],
.formStyle input[type=email],
.formStyle select,
.formStyle textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #F072A9;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:70%;
}
.formStyle  input[type=submit],
.formStyle  input[type=button]{
    background: #ed7a91;
    border: 1px solid #EF97BD;
    padding: 5px 15px 5px 15px;
    color: #fefad8;
    border-radius: 10px;
/*    box-shadow: inset 0px 0px 5px #FEFAD8;
    -moz-box-shadow: inset 0px 0px 5px #FEFAD8;
    -webkit-box-shadow: inset 0px 0px 5px #FEFAD8;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;  */ 
    font-weight: bold;
}
.formStyle  input[type=submit]:hover,
.formStyle  input[type=button]:hover{
	cursor:  pointer;
	background: #EB3B88;
    color: #FFCBE2;
}

/*@media screen and (max-width: 740px) {
}*/
@media screen and (min-device-width : 740px) and (max-device-width : 1024px){

	#indexHtml, #indexhtml body{
		background-color: #ee7a91;
	}
	h2{
		font-size: 5vh;
		padding-top: 3.6%;
	}

	.btn {
	    display: inline-block;
	    cursor: pointer;
	}

	.btn-navbar {
	    float: right;
	    position: fixed;
	    right: 0;
	    padding: 2% 2%;
	    margin-right: 5px;
	    margin-left: 5px;
	    z-index: 1;
		background-color: #FCCFC0;
		border-radius: 5px;
	}
	.icon-bar {
	    display: block;
	    width: 18px;
	    height: 3px;
	    background-color: #E6277E;
	    -webkit-border-radius: 1px; /* Ce sont des préfixes, pour que les navigateurs */
	    -moz-border-radius: 1px; /* prennent en charge les nouvelles propriétés. */
	    border-radius: 1px;
	}
	.icon-bar + .icon-bar { /* Le + permet de sélectionner les éléments qui suivent */
	    margin-top: 3px;
	}
	#navMobile{
		display: none;
		position: fixed;
		right: 0;
		width: 35%;
		padding-top: 6%;
	}
	#navMobile ul{
		background-color: #FCCFC0;
		border-radius: 5px;
	}
	#navMobile li{
		display: block;
		border:none;
	}

	.parallaxParent{
		height: 150vh;
	}
	#ecran1, #ecran2, #ecran3, #ecran4{
		top: 0;
		height: 100%;
		background-size:100% 100%;
	}
	#containerAccueil{
		padding-top: 1%;
		width: 90%;
		height: 100%;
	}
	#navPC{
		display: none;
	}
	.tableauGourmand{
		width: 65%;
		height: 43%;
		float: none;
		margin: 0 auto
	}
	.tableauGourmand ul{
		height: 0;
	}
	.flexslider{
		width: 90%;
		float:none;
		/*margin-left:0px !important; */
		margin: 0 auto !important;
	}


	#soinVisage, #soinCorps{
		display: block;
		float: none;
		margin: 0 auto;
	}
	#soinCorps{
		margin-top: 40% !important;
	}
	#soinCorps h3{
		margin-left: 35%;
	}
	#containerSection{
		width: 90%;
	}
	#containerSection div{
		margin: 0 auto;
		width: 90%;
	}
	#containerSection img{
		width: 100%;
	}
	#containerSoins{
		width: 90%;
	}
	#containerSoins div{
		margin: 0 auto;
		width: 90%;
	}
	#containerSoins img{
		width: 100%;
	}
	#containerScreen3 h4{
		opacity: 1;
		top: 65%;
		font-size: 3vh;
	}


	#containerScreen3{
		width: 90%;
	}
	#containerScreen3 div{
		float: left;
		width: 40%;
		height: 55%;

	}

	#parallax4{
		overflow: visible;
	}
	#containerContact{
		width: 90%;
		font-size: 3vh;
		padding-top: 1%
	}
	#containerContact div{
		float: none;
	}
	#contactMap{
		width: 100%;
	}
	#contactMap iframe{
		width: 52%;
		float: left;
		height: 22%;
	}
	#contactMap p{
		width: 100%;
		float: none;
		text-align: center;
		padding-top: 10%;
	}
	#livreOr{
		width: 100%;
		padding-top: 15%;
	}



	main{
		width: 90%;
	}
	header{
		width: 90%;
	}
	footer{
		width: 90%;
	}
	.containFooter{
		width: 90%;
	}
	.navPcPage{
		display: none;
	}

	.tableauMaquillage{
		width: 90%;
		margin: 0 auto;
	}
	.tableauMaquillage .imagePrinc{
		width: 100%;
	}
	#maquillageVideo{
		float: none;
		width: 100% !important;
	}
	.containerL, .containerD{
		float: none;
		width: 100% !important;
		/*height: 100% !important;*/
	}
	.containerL p, .containerD p{
		float: none;
		width: 100% !important;
	}
	.containerL .boutonOr, .containerD .boutonOr{
		float: none;
		width: 100% !important;
	}

	.listeSoins li{
		width: 60%;
		height: 65%;
		padding-bottom: 0%;
	}
	.soinCorps li:nth-child(2n){
		padding-bottom: 0%;
	}
	.liensPageSoin{
		width: 100%;
	}
		.soinCorps iframe{
		width: 100%;
	}
	.paragrapheCelluM6 img, .paragrapheCelluM6 p{
		float: none
	}
	.paragrapheCelluM6 p{
		width: 100% !important;
	}
	.listeCelluM6{
		width: 100%;
	}
	.liensPageTarifs{
		width: 100%;
	}
	.lienPageTarif{
		width: 100%;
	}
	.lienLivreOrContact{
		width: 100%;
	}
	#contactPage iframe, #contactPage p{
		float: none;
		width: 100%;
		color: black;
		font-size: 4vh;
	}
	#livreOrPage{
		width: 100%;
		margin: 0 auto;
	}
	.formStyle{
		width: 100%;
	}



}

@media screen and (max-width: 640px) {
	h2{
		font-size: 7vh;
		padding-top: 6.6%;
	}
	#navMobile{
		width: 60%;
		padding-top: 8%;
		font-size: 4vh;
	}
	.tableauGourmand{
		width: 86%;
		height: 47%;

	}

	.flexslider{
		width: 100%;
	}

	#containerSoins div{
		width: 100%;
	}
	#containerSection div{
		width: 100%;
	}
	#soinCorps{
		margin-top: 0% !important;
	}

	#livreOr{
		padding-top: 15%;
	}

	#menuBas{
		width: 100%;
		/*display: none;*/
	}
	.boutonOr{
		font-size: 4vh;
	}

	.liensPageTarifs{
		font-size: 4vh;
	}
	.lienPageTarif{
		font-size: 4vh;
	}
	.lienLivreOrContact{
		font-size: 4vh;
	}
	.paragraphePage{
		font-size: 4vh !important;
	}

	.listeSoins li{
		width: 90%;
		height: 100%;
	}
	.listeSoins h4, .listeSoins h3{
		font-size: 4vh;
	}
	.liensPageSoin{
		font-size: 4vh;
	}


	.listeCelluM6{
		font-size: 4vh;
	}

	.containerL p, .containerD p{
		font-size: 3vh;
	}
	#livreOrPage{
		font-size: 4vh;
	}
	#contactPage{
		font-size: 4vh;
	}
	.formStyle{
		font-size: 4vh !important;
	}
	.formStyle label{
		width: 100%;
	}
	.formStyle input[type=text],
	.formStyle input[type=email],
	.formStyle textarea{
		width: 100%;
	}

}






@media tv (min-width:1919px) and (max-resolution:72dpi) {
html,body{
	font-size: 5vh;
}