@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Dancing+Script|Josefin+Sans|El+Messiri|Grand+Hotel|Marck+Script|Pompiere|Tangerine|The+Girl+Next+Door');

body,html{
	width: 100%;
    height:100%;
    /*font-size: 2vh; /* a virer*/ 
    padding: 0;
    margin: 0;
    /*font-family: 'El Messiri', sans-serif;*/
    /*font-family: 'Bubbler One', sans-serif;*/
    /*font-family: 'Tangerine', cursive;*/
    font-family: 'The Girl Next Door', cursive;
    /*font-family: 'Pompiere', cursive;*/

}
	#indexHtml, #indexhtml body{
		background-color: #e7f5f9;
	}

h1{
	font-size: 5vh;
	font-weight: 200;
	margin: 0;
}
h2{
	margin: 0;
	padding: 1%;
	color: #e7f5f9;
}
h3{
	font-size: 3vh;
}
h4{
	font-size: 2vh;
	margin: 0;
}
p{

}
li{
	list-style-type: none;
	color: #e7f5f9;
}
strong{
	font-weight: normal; 
}
a{
	text-decoration:none;
	color: #297da4;
}
a:hover{
	color: #ea904e;
}
a:active{
	color: #862020;
}
.activeMenu a{
		color: #862020;
}
.clear{
	clear: both;
}
.parallaxParent {
	height: 100vh;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}
.spacer {
	text-align: center;
	min-height: 100px;
	background-color: #183c5d; /*#B7D771 #ABBC56 #C0D45C*/
}
.spacer.s0 {
	min-height: 1px;
}

.container {
	position:relative;
}
.container img {
	position:absolute;
	top:0;
	left:0;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.container:hover .image1, .container:focus .image1{
	opacity:0;
}


main{
	width: 60%;
	min-height: 70%;
	margin: 0 auto;
}
.navPCpage ul{
	padding: 0;
}
#logoPage{
	width: 10%;
	/*padding: 2% 0%;*/
}


/*******************************************************/
/* ********* NAV MOBILE *********/
/*******************************************************/
.btn-navbar {
    display: none;
}
#navMobile{
	display: none;
}


/*******************************************************/
/* ********* ECRAN 1 - ACCUEIL *********/
/*******************************************************/
#ecran1{
	  background-color: #9ac3dd;
}

.motifScreen{
	width: 100%;
	height: 100%;
	background :radial-gradient(#ffffff1a 15%, transparent 15%) 0 0, 
	radial-gradient(#ffffff4d 15%, transparent 15%) 16px 16px, 
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, 
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 16px 17px;
  background-size: 32px 32px;
	/* Rayures : 
	background: repeating-linear-gradient(45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 10px,
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px) 100% 100%;*/
	text-align: center;
}

#containerAccueil{
	padding-top: 9%;
    margin: 0 auto;
	width: 100%;
	height: 100%;
}
#containerHead{
	width: 100%;
	height: 15%;
	display: block;
	text-align: center;
	background-color: #e7f5f9;
}
#containerHeadTxt{
 width: 30%;
 margin: 0 auto;
 padding-top: 3%;
}
#logoHome{
	margin: 0 auto;
	width: 8%;
	/*padding-top: 4%;*/
/*	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 20%); /* FF3.6-15 */
/*background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 20%); /* Chrome10-25,Safari5.1-6 */
/*background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#logoHome, #h1Home, #h4Home, #h5Home{
	display: block;
}
#h1Home{
	color: #00aeff;
	/*margin-top: -3%;*/
}
#h4Home{
	color: #ea904e;
	margin-top:-5%;
}
#h5Home{
	font-family: Josefin Sans, sans-serif;
	font-weight: 200;

}

#h2Home{
	width: 39%;
	vertical-align: top;
}


/***** NAV *****/
#navPC{
	/*margin-top: -2%;*/
	padding: 0.5%;
	background-color: #0e1c24;
/*	background: rgb(178,225,255); /* Old browsers */
	/*background: -moz-radial-gradient(center, ellipse cover, rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6-15 */
	/*background: -webkit-radial-gradient(center, ellipse cover, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: radial-gradient(ellipse at center, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	/*background-repeat: no-repeat;*/
	/*background-position: 50% 50%;*/
	/*background-size: 150% 45%;*/
}

#navPC li{
	display: inline-block;
	padding: 0% 1%;
}

#containerAccueil ul :nth-child(8){  /*Last à la place de 8*/
	border: none;
}

/***** FLEXSLIDER *****/
.flexslider{
	margin: 0 auto;
	width: 50%;
}
.flexslider h4{
	padding: 0;
	margin: 1%;
}





/*******************************************************/
/* ********* ECRAN 2 - GNav picto 1st *********/
/*******************************************************/
#ecran2{
    background-color: #88c1e6;
  }


#containerSection{
	width: 90%;
	height: 50%;
	margin: 0 auto;
	padding-top: 13%;
	text-align: center;
}

#sectionsScreen2{
	width: 100%;
	height: 65%;
	margin-top: 5%;
}
#containerSection .container{
	display: inline-block;
	margin: 0% 2%;
	width: 25%;
	height: 70%;
}

#containerSection .container img{
	width: 100%;
}


#containerSection .container h3{
	position: absolute;
	margin-top: 90%;
	z-index: 1;
	color: #0F5300;
	transition-property: margin-top, color, font-size, margin-left;
	transition-duration: 1s, 1s, 1s, 1s;
}

#containerSection .container:hover h3, .container:focus h3{
	color: #FFFFFF !important;
	font-size: 3.5vh;
	margin-top: 45% !important;
	margin-left: 30% !important;

}

/*******************************************************/
/* ********* ECRAN 3 - Nav picto 2sd *********/
/*******************************************************/
  #ecran3{
    background-color: #54a1d1;
  }

#containerScreen3{
	width: 60%;
	height: 50%;
	margin: 0 auto;
	padding-top: 15%;
	text-align: center;
}
#containerScreen3 div{
	display: inline-block;
	width: 22%;
	height: 31%;
	margin: 4%;
}
#containerScreen3 img{
	width: 100%;
}
#containerScreen3 h4{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align:center;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease;
	transition: opacity 0.7s ease;
}
#containerScreen3 .container:hover > h4{
	opacity: 1;
}


/*******************************************************/
/* ********* ECRAN 4 - Contact *********/
/*******************************************************/
#ecran4{
	background-color: #3383b6;
}
#containerContact{
	width: 70%;
	height: 45%;
	margin: 0 auto;
	padding-top: 55%;
	text-align: center;
	font-size: 2vh;
}
#containerContact h4{
	font-size: 3vh;
	color: #e7f5f9;
	padding-bottom: 2%;
}
#contactMap{
	width: 45%;
	height: 72%;
	/*float: left;*/
	display: inline-block;
}
#contactMap iframe{
	width: 70%; 
	height: 45%; 
	border: 7px solid #95deff;
	border-radius: 2px;
}
#contactMap p{
	width: 70%;
	text-align: left;
	margin:0 auto;
	font-family: Josefin Sans, sans-serif;
	font-weight: 200;
	line-height: 123%;
	font-size: 75%;
}
#contactMap h5{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	padding-top: 4%;
	font-size: 130%;
}

#livreOr{
	width: 45%;
	float: right;
	/*display: inline-block;*/
}
#livreOr li{
	width: 90%;
	margin: 0 auto;
	/*margin-top: 10px;*/
	padding: 1% 0%;
	/*border-radius: 10px;*/
	list-style-type: none;
	background-color: #95deff;
}
#livreOr li:nth-child(even) {
  background: #6cceff;
}
#livreOr li p:last-child{
	font-size: 80%;
}

#livreOr p {
	font-family: Josefin Sans, sans-serif;
	/*font-size: 123%;*/
		font-weight: 200;
	color: #00427b;
	padding: 2% 5% 0% 5%;
}

#containerFootContact{
	width: 90%;
	margin: 0 auto;
}

#menuBas li{
	display: inline-block;
	padding: 0% 1%;
 
}
#menuBas li a{
	color: #262024;
}
#menuBas li a:hover{
	color:#ea904e;
}

#menuBas{
	width: 70%;
	position: absolute;
	bottom: 0;
}


/*******************************************************/
/* ********* HEADER *********/
/*******************************************************/
header{
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
header li{
	display: inline-block;
	padding-left: 5px;
}

#containerAccueilSection{
	/*padding-top: 9%;*/
    margin: 0 auto;
	width: 100%;
	height: 100%;
}
#containerHeadSection{
	width: 100%;
	height: 15%;
	display: block;
	text-align: center;
	background-color: #e7f5f9;
}
#containerHeadSection #containerHeadTxt{
 	padding-top: 0%;
}
#containerAccueilSection #navPC{
	text-align: center;
}
/*******************************************************/
/* ********* FOOTER *********/
/*******************************************************/

footer{
	bottom: 0;
	width: 100%;
	z-index: 1;
}

.containFooter{
	width: 80%;
	margin: 0 auto;
	position: relative;

}
.containFooter div{
	display: inline-block;
}
.infoFooter{
	width: 45%;
	float: left;
}
.infoFooter p, .infoFooter h5, .CG p{
	display: inline-block;
	margin: 1%;

}
.CG{
	width: 45%;
	float: right;
	text-align: right;

}


/*******************************************************/
/* ********* ITEM *********/
/*******************************************************/
.blog-slide {
  background: #4b4b4b80;
  padding: 1%;
}
.blog-slide:nth-child(odd){
  background: #F0F0F080;
}
.blog-slide-text, .blog-slide-img{
	width: 49%;
	display: inline-block;

}
.blog-slide-text{
	width:40%;
	float: right;
	font-size: 2.2vh;
}
.blog-slide-img img{
	width: 100%;
}

main .flexslider{
	margin-bottom: 10%;
}

.pagination{
	padding: 0;
}
.pagination li{
	display: inline-block;
}
.pagination a{
	padding: 5px 15px;
	border-radius: 5px;
	background-color: #8CA23D;
	text-decoration: none;
}
.pagination a:hover, .pagination a:focus{
	background-color: #4c93d1;
}
.active a{
	background-color: #4c93d1;

}

/*******************************************************/
/* ********* TARIFS *********/
/*******************************************************/

caption{
	/*color: #b79262;*/
	font-size: 3vh;
	padding: 2%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f5e3+0,f7edb9+42,ffffff+100&1+0,0+58 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%, rgba(247,237,185,0.28) 42%, rgba(249,242,204,0) 58%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(249,245,227,1) 0%,rgba(247,237,185,0.28) 42%,rgba(249,242,204,0) 58%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f5e3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 85% 100%;
}
/*caption a{
	color: #b79262 !important;
}
caption a:hover, caption a:focus{
	color: #FE6D52 !important;
}*/

.listeTarifs{
	position: relative;
	margin-top: 5%;
	background: white;
  border-radius:3px;
  border-collapse: collapse;
  padding:5px;
  width: 100%;
	text-align:center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.listeTarifs th {
  color:#fccfc0;
  background:#222620;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.listeTarifs th:first-child {
  border-top-left-radius:3px;
}
 
.listeTarifs th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.listeTarifs tr {
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
 
.listeTarifs tr:first-child {
  border-top:none;
}

.listeTarifs tr:last-child {
  border-bottom:none;
}
 
.listeTarifs tr:nth-child(odd) td {
  background: #DEEFD4;
}
 

.listeTarifs tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.listeTarifs tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.listeTarifs td {
  background:#8C9D82;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.listeTarifs td:last-child {
  border-right: 0px;
}


table a:link{
	color : #333333;
}
table a:visited{
	color : #333333;
}
table a:hover, table a:focus{
	color : #FF472B;
}

/*******************************************************/
/* ********* CONTACT *********/
/*******************************************************/
#contactPage{
	position: relative;
}
#contactPage h4{
	padding: 2%;
}
#contactPage iframe{
	float: left;
	border: 5px solid #3a97d4;
	border-radius: 10px;
}
#contactPage p{
	width: 45%;
	float: right;
}
.lienLivreOrContact{
	width: 25%;
	margin: 0 auto;
	position: relative;
	padding: 3% 0% 2%;
	text-align: center;
	display: inline-block;
}

#logoBG{
	position: fixed;
	display: block;
	margin: 0 auto;
	margin-left: 33%;
	z-index: 0;
	opacity: 0.3;
}

.boutonOr a{
	padding: 3%;
	border: 1px solid #3a97d4;
	border-radius: 10px;
	background-color: #183d5d;
	-webkit-box-shadow: 0px 0px 0px 3px #6dbcd2;
    -moz-box-shadow: 0px 0px 0px 3px #6dbcd2;
    box-shadow: 0px 0px 0px 3px #6dbcd2;
    transition-property:background-color, box-shadow;
	transition-duration: 0.5s, 0.5s;
	color: #e7f5f9;
}
.boutonOr a:hover, .boutonOr a:focus{
	background-color: #5acaff;
	color: #183d5d;
    -webkit-box-shadow: 0px 0px 0px 3px #183d5d;
    -moz-box-shadow: 0px 0px 0px 3px #183d5d;
    box-shadow: 0px 0px 0px 3px #183d5d;
}


/*******************************************************/
/* ********* LIVRE D'OR *********/
/*******************************************************/

#livreOrPage li{
	width: 90%;
  	background: #4b4b4b80;
  	padding: 1%;
}
#livreOrPage li:nth-child(odd){
  background: #F0F0F080;
}

#livreOrPage{
	width: 800px;
	margin: 0 auto;
}
#livreOrPage p {
	padding: 10px;
}
form label {
	display: inline-block;
	width: 25%;
	padding: 5px;
}



/********************* FORM *******************************/

.formStyle{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
}
.formStyle label{
    display:inline-block;
    margin-top: 10px;
}
.formStyle label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.formStyle fieldset{
	    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #3a97d4;
    padding: 20px;
    /*background: #80A874;*/
    box-shadow: inset 0px 0px 15px #DEF883;
    -moz-box-shadow: inset 0px 0px 15px #DEF883;
    -webkit-box-shadow: inset 0px 0px 15px #DEF883;
}
.formStyle textarea{
    width:250px;
    height:100px;
}
.formStyle input[type=text],
.formStyle input[type=email],
.formStyle select,
.formStyle textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #4E845E;
    outline: none;
    /*color: #F072A9;*/
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    /*background: #FFEFF6;*/
    width:95%;
}
.formStyle  input[type=submit],
.formStyle  input[type=button]{
	background: #71b2ef;
    border: 1px solid #3a97d4;
    padding: 5px 15px 5px 15px;
    color: #fefad8;
    border-radius: 10px;
    font-weight: bold;
}
.formStyle  input[type=submit]:hover,
.formStyle  input[type=button]:hover{
	cursor:  pointer;
    background: #3c7b51;
    color: #3a97d4;
}





/*******************************************************/
/* ********* RESPONSIVE *********/
/*******************************************************/

@media screen and (min-device-width : 740px) and (max-device-width : 1024px){

	#indexHtml, #indexhtml body{
		background-color: #ee7a91;
	}
	h2{
		font-size: 5vh;
		padding-top: 3.6%;
	}

	.btn {
	    display: inline-block;
	    cursor: pointer;
	}

	.btn-navbar {
	    float: right;
	    position: fixed;
	    right: 0;
	    padding: 2% 2%;
	    margin-right: 5px;
	    margin-left: 5px;
	    z-index: 1;
		background-color: #FCCFC0;
		border-radius: 5px;
	}
	.icon-bar {
	    display: block;
	    width: 18px;
	    height: 3px;
	    background-color: #E6277E;
	    -webkit-border-radius: 1px; /* Ce sont des préfixes, pour que les navigateurs */
	    -moz-border-radius: 1px; /* prennent en charge les nouvelles propriétés. */
	    border-radius: 1px;
	}
	.icon-bar + .icon-bar { /* Le + permet de sélectionner les éléments qui suivent */
	    margin-top: 3px;
	}
	#navMobile{
		display: none;
		position: fixed;
		right: 0;
		width: 35%;
		padding-top: 6%;
	}
	#navMobile ul{
		background-color: #FCCFC0;
		border-radius: 5px;
	}
	#navMobile li{
		display: block;
		border:none;
	}

	.parallaxParent{
		height: 150vh;
	}
	#ecran1, #ecran2, #ecran3, #ecran4{
		top: 0;
		height: 100%;
		background-size:100% 100%;
	}

	#navPC{
		display: none;
	}

	.flexslider{
		width: 90%;
		float:none;
		/*margin-left:0px !important; */
		margin: 0 auto !important;
	}

	#parallax4{
		overflow: visible;
	}
	#containerContact{
		width: 90%;
		font-size: 3vh;
		padding-top: 1%
	}
	#containerContact div{
		float: none;
	}
	#contactMap{
		width: 100%;
	}
	#contactMap iframe{
		width: 52%;
		float: left;
		height: 22%;
	}
	#contactMap p{
		width: 100%;
		float: none;
		text-align: center;
		padding-top: 10%;
	}
	#livreOr{
		width: 100%;
		padding-top: 15%;
	}

	main{
		width: 90%;
	}
	header{
		width: 90%;
	}
	footer{
		width: 90%;
	}
	.containFooter{
		width: 90%;
	}
	.navPcPage{
		display: none;
	}

	.lienLivreOrContact{
		width: 100%;
	}
	#contactPage iframe, #contactPage p{
		float: none;
		width: 100%;
		color: black;
		font-size: 4vh;
	}
	#livreOrPage{
		width: 100%;
		margin: 0 auto;
	}
	.formStyle{
		width: 100%;
	}



}

@media screen and (max-width: 640px) {
	h2{
		font-size: 7vh;
		padding-top: 6.6%;
	}
	#navMobile{
		width: 60%;
		padding-top: 8%;
		font-size: 4vh;
	}
	.flexslider{
		width: 100%;
	}

	#containerSection div{
		width: 100%;
	}

	#livreOr{
		padding-top: 15%;
	}

	#menuBas{
		width: 100%;
	}
	.boutonOr{
		font-size: 4vh;
	}
	#livreOrPage{
		font-size: 4vh;
	}
	#contactPage{
		font-size: 4vh;
	}
	.formStyle{
		font-size: 4vh !important;
	}
	.formStyle label{
		width: 100%;
	}
	.formStyle input[type=text],
	.formStyle input[type=email],
	.formStyle textarea{
		width: 100%;
	}

}



@media tv (min-width:1919px) and (max-resolution:72dpi) {
html,body{
	font-size: 5vh;
}